@import "./resets";
@import "./variables";

@mixin flexcenter($direction, $justifycontent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifycontent;
  align-items: center;
}

body {
  background-image: url("/dist/images/pattern1.png");
  background-repeat: repeat;
  color: $primary-text;
  font-family: $font;
}

.header {
  @include flexcenter(row, space-between);

  background-color: $primary-color;
  box-shadow: 5px 5px 5px rgb(16, 46, 16);
  padding: 6px 10px;

  h1 {
    margin: 0;

    &:hover {
      color: $ternary-color;
      cursor: pointer;
    }
  }

  a {
    color: $primary-text;
    padding: 4px 8px;

    &:hover {
      color: $ternary-color;
      cursor: pointer;
    }
  }
}

.main {
  background-image: url("/dist/images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .nav-menu {
    @include flexcenter(row, space-between);

    padding: 10px;
    font-size: map-get($font-size, medium);
    font-weight: map-get($map: $font-weight, $key: bold);

    .nav-logo {
      &:hover {
        background-color: rgba($color: rgb(94, 127, 89), $alpha: 0.4);
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
      }
    }

    .nav-lists {
      a {
        text-decoration: none;
        color: $primary-text;
        padding: 0 8px;

        &:hover {
          background-color: rgba($color: rgb(94, 127, 89), $alpha: 0.4);
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }
  }

  .main-content {
    @include flexcenter(column, center);
    width: 40%;
    height: 20%;
    margin: 25% auto;
    background-color: rgba($color: rgb(172, 166, 166), $alpha: 0.4);
    padding: 10px 20px;
    border-radius: 10px;

    &:hover {
      background-color: rgba($color: rgb(114, 155, 109), $alpha: 0.4);
      cursor: pointer;
    }

    h3 {
      font-size: map-get($map: $font-size, $key: medium);
    }

    h4 {
      font-size: map-get($map: $font-size, $key: regular);
    }

    hr {
      width: 100%;
      margin: 10px;
    }
  }
}

.gallery {
  width: 100%;
  padding-bottom: 10px;

  .title {
    @include flexcenter(row, center);
    padding: 10px;
    background-color: $primary-color;
    color: $primary-text;
  }

  .gallery-cards {
    @include flexcenter(column, center);
    margin-top: 20px;
    gap: 15px;
  }

  .gallery-card {
    width: 250px;
    height: 400px;
    width: 80%;
    margin: auto;
    background-color: $primary-color;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(16, 46, 16);
  }
  img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
  }
  .card-content {
    @include flexcenter(column, center);
    gap: 10px;
    padding-left: 10px;

    h3 {
      font-size: map-get($map: $font-size, $key: medium);
    }

    p {
      font-size: map-get($map: $font-size, $key: small);
    }
  }
}

.contact {
  width: 60%;
  margin: 20px auto;
  background-color: $primary-color;
  box-shadow: 5px 5px 5px rgb(58, 58, 58);
  padding: 10px;
  border-radius: 10px;

  h2 {
    @include flexcenter(row, center);
    padding: 10px 10px 20px 10px;
    // background-color: $ternary-color;
    // color: $secondary-color;
  }
  form {
    @include flexcenter(column, center);

    width: 70%;
    margin: 15px auto;
    gap: 15px;

    input {
      width: 100%;
      padding: 8px;
      border-radius: 6px;
    }

    textarea {
      width: 100%;
      padding: 8px;
      border-radius: 6px;
    }

    button {
      width: 100%;
      padding: 8px;
      border-radius: 6px;
      border: none;
      background-color: $primary-color;
      color: $primary-text;

      &:hover {
        background-color: rgba($color: rgb(114, 155, 109), $alpha: 0.4);
        cursor: pointer;
      }
    }
  }
}

.footer {
  @include flexcenter(row, center);
  font-size: map-get($map: $font-size, $key: small);
  padding: 10px;
  background-color: $primary-color;
  color: $primary-text;
}
