@import "./resets";
@import "./variables";

@mixin flexcenter($direction, $justify-content) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: center;
}

body {
  background-color: $background-color;
  color: $primary-text;
  font-family: $font;
}

.header {
  @include flexcenter(row, space-between);

  background-color: $primary-color;
  box-shadow: 5px 5px 5px rgb(16, 46, 16);
  padding: 6px 10px;

  h1 {
    margin: 0;

    &:hover {
      color: $ternary-color;
      cursor: pointer;
    }
  }

  a {
    color: $primary-text;
    padding: 4px 8px;

    &:hover {
      color: $ternary-color;
      cursor: pointer;
    }
  }
}

.main {
  background-image: url("/dist/images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .nav-menu {
    @include flexcenter(row, space-between);

    padding: 10px;
    font-size: map-get($font-size, medium);
    font-weight: map-get($map: $font-weight, $key: bold);

    .nav-logo {
      &:hover {
        color: $ternary-color;
      }
    }

    .nav-lists {
      a {
        text-decoration: none;
        color: $primary-text;
        padding: 0 8px;

        &:hover {
          color: $ternary-color;
        }
      }
    }
  }

  .main-content {
    @include flexcenter(column, center);
    width: 40%;
    height: 20%;
    margin: 25% auto;
    background-color: rgba($color: rgb(172, 166, 166), $alpha: 0.4);
    padding: 10px 20px;
    border-radius: 10px;

    &:hover {
      background-color: rgba($color: rgb(114, 155, 109), $alpha: 0.4);
      cursor: pointer;
    }

    h3 {
      font-size: map-get($map: $font-size, $key: medium);
    }

    h4 {
      font-size: map-get($map: $font-size, $key: regular);
    }

    hr {
      width: 100%;
      margin: 10px;
    }
  }
}
